.rating polygon:hover {
    cursor: pointer;
    transition: 500ms;
  }
  .rating polygon:hover {
    fill: black;
  }
  .rating polygon {
    fill: lightgray;
  }
  .rating polygon.active{
    fill: #F8E582;
  }