.posts {
    display: flex;
    flex-direction: column;
    gap: 24px;

    &__description {
        display: flex;
        justify-content: space-between;
    }

    &__text {
        margin-top: auto;
        // top: 14px
        // align-self: flex-end;
    }
}